asgiref==...
Django==...
django-allauth==...
django-cors-headers==...
djangorestframework==...
cryptography==...
gunicorn==...
PyJWT==...
requests==...
sqlparse==...
whitenoise==...
# ... and other dependencies